/* GRID SYSTEM ------------------------*/

* {
	box-sizing: border-box;
}
/*Menu Grid: -----------------------------*/

/* desktop */
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

/* tablet */
/*.col-1-tab {width: 8.33%}
.col-2-tab {width: 16.66%}
.col-3-tab {width: 25%}
.col-4-tab {width: 33.33%}
.col-5-tab {width: 41.66%}
.col-6-tab {width: 50%}
.col-7-tab {width: 58.33%}
.col-8-tab {width: 66.66%}
.col-9-tab {width: 75%}
.col-10-tab {width: 83.33%}
.col-11-tab {width: 91.66%}
.col-12-tab {width: 100%}
*/

/* mobile */
/*.col-1-mob {width: 8.33%}
.col-2-mob {width: 16.66%}
.col-3-mob {width: 25%}
.col-4-mob {width: 33.33%}
.col-5-mob {width: 41.66%}
.col-6-mob {width: 50%}
.col-7-mob {width: 58.33%}
.col-8-mob {width: 66.66%}
.col-9-mob {width: 75%}
.col-10-mob {width: 83.33%}
.col-11-mob {width: 91.66%}
.col-12-mob {width: 100%}
*/


/* Footer Grid: -----------------------------*/

/* decktop */
.col-f-1 {width: 8.33%}
.col-f-2 {width: 16.66%}
.col-f-3 {width: 25%}
.col-f-4 {width: 33.33%}
.col-f-5 {width: 41.66%}
.col-f-6 {width: 50%}
.col-f-7 {width: 58.33%}
.col-f-8 {width: 66.66%}
.col-f-9 {width: 75%}
.col-f-10 {width: 83.33%}
.col-f-11 {width: 91.66%}
.col-f-12 {width: 100%}

[class*="col-"] {
	float: left;
	padding: 15px;
}

[class*="col-f-"] {
	float: left;
	padding: 15px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/*------------------------------------------------------*/



